.cards {
    margin-top: 30px;
}

.editButton {
    border: none;

}

.editButton::after {
    content: url("assets/editButton.png");

}

.formCheck {
    display: inline-block;
}

.toDo {
    text-decoration: line-through;
}